.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
/dist
public
.env
yarn.lock
logs
*.log
tempdata
/reports
**/import-in-prod.sh
**/dumps/**
*.env-prod
**/appConfig-sitemap.js
**/static/screenshots/**
scripts/db/export-from-local.sh
scripts/db/import-in-prod.sh
**/static/screenshots/**

